html {
    height: 100%;
}

body {
    padding-top: 60px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
}

.panel-heading {
    cursor: pointer;
}

#main {
    overflow-x: auto;
    height: 100%;
    padding: 20px 0;
}

div.alert + #main {
    height: calc(100% - 75px);
}

table {
    height: 100%;
}

td {
    min-width: 45px;
}

td .has-connect {
    background-color: #ddd;
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: calc(50% - 2px);
    left: 0px;
}

td:nth-of-type(12) {
    border-right: 1px solid #777;
}

td:nth-of-type(24) {
    border-right: 1px solid #777;
}

td .skillContainer {
    width: 90px;
    height: 90px;
    position: relative;
}

td .skillName {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.75);
    left: 3px;
    top: 3px;
}

td .currentLevel {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.75);
    right: 3px;
    bottom: 3px;
}

td .btn-container {
    white-space: nowrap;
    padding: 5px 0;
    width: 70px;
}

.hide-button .btn-container {
    display: none;
}

.notAvailable {
    filter: grayscale(100%);
}

.top-background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 125px;
    background: linear-gradient(180deg, white, white 75px, transparent 100px, transparent);
    z-index: 3;
}

.row-top-buffer {
    margin-top: 20px;
}

.noUi-connect {
    background: #337ab7;
}

.skill-desc {
    position: absolute;
    z-index: 100;
    background-color: rgba(160, 160, 160, 0.9);
    border-radius: 10px;
    padding: 5px;
    width: 400px;
}

.skill-desc .skill-desc-header {
    border-bottom: 2px solid #ddd;
}

.skill-desc .skill-desc-detail {
    float: left;
    width: 50%;
}

.skill-desc .skill-desc-detail:only-of-type {
    width: 100%;
}

.skill-desc .skill-desc-detail:nth-of-type(2) {
    border-left: 2px solid #ddd;
}